doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    meta(charset="UTF-8")
    //- meta(name="apple-itunes-app", content="app-id=000000000, affiliate-data=myAffiliateData, app-argument=web-app")
    title study twitter api
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-sham.min.js"></script><![endif]-->
    body
      div(id="viewport")
        if !is_mobile
          p loading...
    script.
      var preload_data = {
        path: "#{path}"
      };
    script(src="study-twitter-api.bundle.js")      
    
